body{ 
	overflow-y: scroll; 
	padding: 0; 
	margin: 0; 
	background-color: #FFFFFF; 
	height: 2000px; 
}

#nav{ 
	background-color: #FFFFFF; 
	position: fixed; width: 
	100%; top: 0; 
	text-align: center;

}
#nav-wrapper{ 
	width: 960px; 
	margin: 0 auto; 
}
#nav ul{ 
	list-style-type: none; 
	padding: 0; margin: 0;

}
#nav ul li{ 
	display: inline-block;
	font-size: 14px;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", 
	"Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 
	'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", 
	sans-serif; font-weight:300; font-stretch:normal;
	letter-spacing:3px;
	color: #636363; 

}

#nav ul li a,visited{ 
	color: #636363; 
	display: block; 
	padding: 15px; 
	text-decoration: none; 
}

#wrapper{ 
	width: 960px; 
	margin: 0 auto; 
	text-align: center; 
}
#content{ 
	background-color: #FFF; 
	border: 0px; 
	padding: 0px; 
	margin: 0px; 
}

h2, h3 {
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", 
	"Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 
	'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", 
	sans-serif; font-weight:300; font-stretch:normal;
	letter-spacing:3px;
	color: black;
	padding:5px;
}

p{
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", 
	"Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 
	'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", 
	sans-serif; font-weight:300; font-stretch:normal;
	letter-spacing:1px;
	color: black;	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	color: #636363;
	text-align:left;
	padding-right:50px;
	padding-left:50px;
	padding-top:10px;
}
